#dashboard.container
  h1 ダッシュボード

.container
  .row.col-xs-8.col-xs-offset-2
    .panel.panel-default
      .panel-heading
        |管理している企画一覧
      ul.list-group
        li.list-group-item
          span.badge 14
          a(href="#/projects/85B64BA2-4893-408A-9614-4B562F4CF479")
            |tkbctf6
      .panel-body(style={textAlign: 'center'})
        a.btn.btn-primary(href='#/projects/new')
          span.glyphicon.glyphicon-plus
          |新しい企画を登録する

